<!DOCTYPE html>
  <head>
    {{> partials/shared-metadata }}
    <title>Skylar Cupit</title>
  </head>
  <body>
    {{> partials/link-bar }}

    <div id="content">
      <section class="card-block">
        <div class="card title-card">
          <h1 class="page-title">My site - in progress</h1>
        </div>
      </section>
    </div>
  </body>
</html>