<!DOCTYPE html>
  <head>
    <meta charset="UTF-8"/>
    <title>Base Project</title>
  </head>
  <body>
    {{> partials/link-bar }}
    <div>
      <h1>Skylar Cupit</h1>
      <a href="to-learn">TO LEARN</a>
    </div>
  </body>
</html>