<!DOCTYPE html>
  <head>
    <meta charset="UTF-8"/>
    <title>Skylar Cupit</title>
  </head>
  <body>
    {{> partials/link-bar }}
    <div id="content">
      <section>
        <h1>My site - in progress</h1>
        <p>This is my site. Content coming soon!</p>
      </section>
    </div>
  </body>
</html>