<!DOCTYPE html>
<html>

<head>
  {{> partials/shared-metadata }}
  <title>Knowledge Base</title>
</head>

<body>
  {{> partials/link-bar }}

  <div id="content">
    <div class="card-block no-white-link">
      <div class="card title-card">
        <h1 class="page-title">Resources</h1>
        <h3 class="white-title">General programming resources I've found over time. <i>This section is a work-in-progress.</i></h3>
      </div>
      <div class="card">
        <h3 class="title">Documentation</h3>
        <ul>
          <li><a href="https://devdocs.io/">DevDocs</a></li>
          <li><a href="https://developer.mozilla.org/en-US/">MDN Web Docs</a></li>
          <li><a href="https://en.cppreference.com/w/">cppreference</a></li>
        </ul>
      </div>

      <div class="card">
        <h3 class="title">Optimization</h3>
        <ul>
          <li><a href="http://www.catb.org/esr/structure-packing/">The lost art of structure packing</a></li>
        </ul>
      </div>

      <div class="card card-long">
        <h3 class="title">Beej's Guides</h3>
        <ul>
          <li><a href="https://beej.us/guide/bggdb/">Beej's Guide to GDB</a></li>
          <li><a href="https://beej.us/guide/bgnet/">Beej's Guide to Network Programming</a></li>
          <li><a href="https://beej.us/guide/bgipc/">Beej's Guide to Unix interprocess Communication</a></li>
        </ul>
      </div>

      <div class="card">
        <h3 class="title">Cheat Sheets</h3>
        <ul>
          <li><a href="https://devhints.io/bash">Bash</a></li>
          <li><a href="https://tmuxcheatsheet.com/">tmux</a></li>
          <li><a href="https://vim.rtorr.com/">Vim</a></li>
          <li><a href="https://devhints.io/vim-help">Vim Helpfiles</a></li>
        </ul>
      </div>

      <div class="card">
        <h3 class="title">Discovery</h3>
        <ul>
          <li><a href="https://github.com/fffaraz/awesome-cpp">awesome-cpp</a></li>
        </ul>
      </div>
      <!-- TODO: Add books section -->
    </div>

    <div class="card-block no-white-link">
      <div class="card title-card">
        <h1 class="page-title">Learning Board</h1>
        <h3 class="white-title">Things I want to learn or am currently learning</h3>
      </div>
      <div class="card card-tall">
        <h3 class="title">Languages</h3>
        <ul>
          <li>C 👉</li>
          <li>C++ 👉</li>
          <li><a href="https://www.typescriptlang.org/">TypeScript</a> ✅</li>
          <li>JavaScript ✅</li>
          <li><a href="https://www.python.org/">Python</a> ✅</li>
          <li><a href="https://kotlinlang.org/">Kotlin</a> ✅</li>
          <li><a href="https://www.rust-lang.org/">Rust</a> 👉</li>
          <li>Haskell 👉</li>
          <li><a href="https://www.scala-lang.org/">Scala 3</a></li>
          <li><a href="https://nim-lang.org/">Nim</a></li>
          <li><a href="https://ziglang.org/">Zig</a></li>
          <li>Swift</li>
          <li>SQL 👉</li>
          <li>GLSL 👉</li>
        </ul>
      </div>
      <div class="card">
        <h3 class="title">Web Markup</h3>
        <ul>
          <li>HTML ✅</li>
          <li>CSS ✅</li>
          <li>SCSS ✅</li>
          <li>SVG</li>
          <li>Mustache 👉</li>
        </ul>
      </div>
      <div class="card card-long">
        <h3 class="title">Build tools</h3>
        <ul>
          <li><a href="https://gradle.org/">Gradle</a> 👉</li>
          <li><a href="https://ninja-build.org/">Ninja</a> ✅</li>
          <li><a href="https://www.npmjs.com/">npm</a> 👉</li>
          <li><a href="https://yarnpkg.com/">Yarn</a> 👉</li>
          <li><a href="https://webpack.js.org/">Webpack</a> 👉</li>
          <li><a href="https://cmake.org/">CMake</a> ✅</li>
          <li><a href="https://www.docker.com/">Docker</a> (file and compose) 👉</li>
        </ul>
      </div>

      <div class="card">
        <h3 class="title">General Topics</h3>
        <ul>
          <li><a href="https://webassembly.org/">Web Assembly</a> 👉</li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps">Progressive Web Apps</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers">Web Workers</a></li>
          <li>NFC Touch</li>
        </ul>
      </div>

      <div class="card">
        <h3 class="title">Misc. Configurables</h3>
        <ul>
          <li>Regex ✅</li>
          <li><a href="https://www.latex-project.org/">Latex</a> from <a href="https://www.tug.org/texlive/">TexLive</a></li>
          <li><a href="https://jupyter.org/">Jupyter Notebook</a></li>
        </ul>
      </div>

      <div class="card card-tall">
        <h3 class="title">Frameworks and Libraries</h3>
        <ul>
          <li><a href="https://reactjs.org/">React</a> ✅</li>
          <li><a href="https://reactnative.dev/">React Native</a> ✅</li>
          <li><a href="https://angular.io/">Angular</a> 👉</li>
          <li><a href="https://vuejs.org/">Vue</a> 👉</li>
          <li><a href="https://svelte.dev/">Svelte</a></li>
          <li><a href="https://www.opengl.org/">OpenGL</a> 👉</li>
          <li><a href="https://spring.io/projects/spring-boot">Spring Boot</a> 👉</li>
          <li><a href="https://developer.android.com/jetpack/compose">Jetpack Compose</a></li>
          <li><a href="https://www.libsdl.org/">SDL</a></li>
          <li><a href="https://www.sfml-dev.org/">SFML</a> 👉</li>
          <li><a href="https://www.wxwidgets.org/">WxWidgets</a></li>
          <li><a href="https://github.com/ocornut/imgui">ImGUI</a></li>
          <li><a href="https://www.khronos.org/webgl/">WebGL</a>, mainly with <a href="https://threejs.org/">ThreeJS</a></li>
          <li>
            Compression libraries like:
            <ul>
              <li><a href="https://zlib.net/">zlib</a></li>
              <li><a href="https://github.com/google/brotli">Brotli</a></li>
              <li><a href="https://github.com/facebook/zstd">zstd</a></li>
            </ul>
          </li>
          <li><a href="https://www.glfw.org/">GLFW</a> 👉</li>
        </ul>
      </div>

      <div class="card">
        <h3 class="title">Data Formats</h3>
        <ul>
          <li>Yaml ✅</li>
          <li>TOML</li>
          <li>JSON ✅</li>
          <li>XML (basics) 👉</li>
          <li>Conf</li>
        </ul>
      </div>

      <div class="card">
        <h3 class="title">Runtimes</h3>
        <ul>
          <li><a href="https://nodejs.org/en/">NodeJS</a> ✅</li>
          <li><a href="https://deno.land/">DenoJS</a> 👉</li>
          <li><a href="https://openjdk.org/">OpenJDK</a> ✅</li>
        </ul>
      </div>

      <div class="card card-tall">
        <h3 class="title">General User Software</h3>
        <ul>
          <li><a href="https://developer.android.com/studio">Android Studio</a></li>
          <li><a href="https://code.visualstudio.com/">Visual Studio Code</a> ✅</li>
          <li><a href="https://neovim.io/">Neovim</a></li>
          <li><a href="https://www.blender.org/">Blender</a></li>
          <li><a href="https://www.adobe.com/products/photoshop.html">Adobe Photoshop</a></li>
          <li><a href="https://www.adobe.com/products/premiere.html">Adobe Premiere Pro</a></li>
          <li><a href="https://www.adobe.com/products/aftereffects.html">Adobe After Effects</a></li>
          <li><a href="https://www.blackmagicdesign.com/products/davinciresolve">DaVinci Resolve</a></li>
          <li><a href="https://inkscape.org/">InkScape</a></li>
          <li><a href="https://www.unrealengine.com/en-US">Unreal Engine</a></li>
          <li><a href="https://godotengine.org/">Godot Engine</a></li>
          <li><a href="https://filezilla-project.org/">FileZilla</a> 👉</li>
          <li><a href="https://www.postman.com/">Postman</a> 👉</li>
          <li><a href="https://openhardwaremonitor.org/">Open Hardware Monitor</a></li>
          <li><a href="https://rufus.ie/en/">Rufus</a></li>
          <li><a href="https://getsharex.com/">ShareX</a></li>
          <li><a href="https://www.videolan.org/">VLC Media Player</a></li>
          <li><a href="https://obsproject.com/">OBS Studio</a></li>
          <li><a href="https://www.voidtools.com/">Voidtools Everything</a> search</li>
          <li><a href="https://windirstat.net/">WinDirStat</a></li>
        </ul>
      </div>

      <div class="card card-tall">
        <h3 class="title">Command Line Tools</h3>
        <ul>
          <li><a href="https://curl.se/">curl</a></li>
          <li>wget</li>
          <li><a href="https://git-scm.com/">git</a> ✅</li>
          <li>ssh 👉</li>
          <li>sftp 👉</li>
          <li><a href="https://linux.die.net/man/1/rsync">rsync</a> 👉</li>
          <li><a href="https://learn.microsoft.com/en-us/windows-server/administration/windows-commands/robocopy">robocopy</a> 👉</li>
          <li><a href="https://pandoc.org/">pandoc</a> 👉</li>
          <li><a href="https://www.7-zip.org/">7Zip</a> ✅</li>
          <li><a href="https://github.com/tmux/tmux">tmux</a> 👉</li>
          <li><a href="https://ffmpeg.org/">ffmpeg</a> 👉</li>
          <li><a href="https://upx.github.io/">upx</a> 👉</li>
          <li><a href="https://imagemagick.org/">imagemagick</a></li>
          <li><a href="https://github.com/sharkdp/fd">fd</a> <code>find</code> alternative</li>
          <li><a href="https://github.com/BurntSushi/ripgrep">ripgrep</a> <code>grep</code> alternative</li>
          <li><a href="https://github.com/junegunn/fzf">fzf</a> fuzzy finder</li>
        </ul>
      </div>
      <div class="card">
        <h3 class="title">Shells</h3>
        <ul>
          <li><a href="https://www.gnu.org/software/bash/">Bash</a> 👉</li>
          <li><a href="https://github.com/PowerShell/PowerShell">PowerShell</a> 👉</li>
          <li><a href="https://www.zsh.org/">zsh</a></li>
        </ul>
      </div>
      
      <div class="card">
        <h3 class="title">Misc. Tools</h3>
        <ul>
          <li><a href="https://github.com/">GitHub</a> (remote Git repos) ✅</li>
          <li><a href="https://hub.docker.com/">Docker Hub</a> + <a href="https://docs.docker.com/registry/">remote registries</a></li>
          <li><a href="https://www.jenkins.io/">Jenkins</a></li>
        </ul>
      </div>

      <div class="card">
        <h3 class="title">Configurable Non-GUI Software</h3>
        <ul>
          <li><a href="https://httpd.apache.org/">Apache 2</a> HTTP server👉</li>
          <li><a href="http://www.cups.org/">CUPS</a> print server/protocol 👉</li>
          <li><a href="https://www.samba.org/">Samba</a> (SMB file sharing) 👉</li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>