<!DOCTYPE html>
<html>

<head>
  {{> partials/shared-metadata }}
  <title>Fun Stuff</title>
</head>

<body>
  {{> partials/link-bar }}

  <div id="content">
    <div class="card-block">
      <div class="card title-card">
        <h1 class="page-title">Coming Soon</h1>
      </div>
    </div>
  </div>
</body>

</html>