<!DOCTYPE html>
<html>

<head>
  {{> partials/shared-metadata }}
  <title>Fun Stuff</title>
</head>

<body>
  {{> partials/link-bar }}

  <div id="content">
    <div class="card-block">
      <div class="card title-card">
        <h1 class="page-title">Projects</h1>
      </div>

    </div>
    <div class="split-card-3">
      <!-- <div class="big-card"> -->
        <div class="big-card">great</div>
        <div>something</div>
        <div class="big-card">another</div>
        <div></div>
      <div>
        <h1>Skylarcupit.com</h1>
        <h3>My Site!</h3>
        <p><br/>My site, made for fun and practice. If you're reading this, you're on it.</p>
<div class="card-block">
          <div class="card">
            <h3>Noice</h3>
            <p>something is here</p>
          </div>
          <div class="card">
            <h3>Noice</h3>
            <p>something is here</p>
          </div>
          <div class="card">
            <h3>Noice</h3>
            <p>something is here</p>
          </div>
          <div class="card">
            <h3>Noice</h3>
            <p>something is here</p>
          </div>
        </div>
      </div>
      <div class="big-card">
      <!-- <div> -->
        <h1>GCMake</h1>
        <h3>C/C++ project management tool</h3>

        <p>TODO: Add description and GitHub link</p>

        
        
      </div>
    </div>
  </div>
</body>

</html>