<!DOCTYPE html>
<html>

<head>
  {{> partials/shared-metadata }}
  <title>Portfilio</title>
</head>

<body>
  {{> partials/link-bar }}

  <div id="content">
    <div class="card-block">
      <!-- <div class="card title-card">
        <h1 class="page-title">Fun Stuff!</h1>
      </div> -->

    </div>
    <div class="split-card-3">
      <div class="col-md-2 no-bg">

        <div class="card-block">
          <div class="card title-card">
            <h1 class="white-title">Personal Projects</h1>
          </div>

          <div class="card">
            <h3 class="dark-bg">Skylarcupit.com</h3>
            <div class="card-body vertically-spaced">
              <p>
                My personal/portfolio site written in Mustache, SCSS, and TypeScript.
              </p>
              <table>
                <tr>
                  <td>
                    <h2 class="github-icon-white"></h2>
                  </td>
                  <td>
                    <a href="https://github.com/scupit/SkylarCupitSite" target="_blank">Check it out on GitHub!</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="card">
            <h3 class="dark-bg">Resume</h3>
            <div class="card-body vertically-spaced">
              <p>
                My resume, written as a single web page.
              </p>
              <table>
                <tr>
                  <td>
                    <h2 class="github-icon-white"></h2>
                  </td>
                  <td>
                    <a href="https://github.com/scupit/SkylarCupitResume" target="_blank">Check it out on GitHub!</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2 class="hyperlink-icon-white"></h2>
                  </td>
                  <td>
                    <a href="/resume" target="_blank">Or check it out directly</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="card">
            <h3 class="dark-bg">gcmake-rust</h3>
            <div class="card-body vertically-spaced">
              <p>
                A C/C++ project management tool written in rust. Acts as an opinionated layer over top of
                CMake, and aims to make C/C++ project configuration easier and more intuitive. The README
                in Github contains better details.
              </p>
              <table>
                <tr>
                  <td>
                    <h2 class="github-icon-white"></h2>
                  </td>
                  <td>
                    <a href="https://github.com/scupit/gcmake-rust" target="_blank">Check it out on GitHub!</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="card">
            <h3 class="dark-bg">Full-Stack Mobile App</h3>
            <div class="card-body">
              <p>
                Writing a full-stack mobile app using React Native and TypeScript, and a Kotlin + Spring Boot backend with MariaDB.
                The project isn't public, but I can show it if asked.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="big-card no-bg">
        <!-- <div class="title-area">
          <h1>Photo Gallery</h1>
          <h3>Favorite pictures I've taken in the past few years.</h3>
        </div> -->
        <div class="card-block image-container-root">
          <div class="card title-card">
            <h1 class="white-title">Photo Gallery</h1>
          </div>
          <div class="card no-outer-pad">
            <!-- <h3 class="contrast-bg">Camp Tejas</h3> -->
            <div class="image-container">
              <img src="../../resources/pond.webp"/>
            </div>
          </div>
          <div class="card no-outer-pad">
            <!-- <h3 class="contrast-bg">Bell Rock, Arizona</h3> -->
            <div class="image-container">
              <img src="../../resources/rock.webp"/>
            </div>
          </div> 
          
          <div class="card card-tall no-outer-pad">
            <!-- <h3 class="contrast-bg">Michigan</h3> -->
            <div class="image-container">
              <img src="../../resources/mushroom.webp"/>
            </div>
          </div>
          <div class="card no-outer-pad">
            <!-- <h3 class="contrast-bg">Texas</h3> -->
            <div class="image-container">
              <img src="../../resources/ice-dark.webp"/>
            </div>
          </div>
          <div class="card no-outer-pad">
            <!-- <h3 class="contrast-bg">Texas</h3> -->
            <div class="image-container">
              <img src="../../resources/ice-yellow-bulb.webp"/>
            </div>
          </div>
          <div class="card card-tall no-outer-pad" style="align-self: center;">
            <!-- <h3 class="contrast-bg">Camp Tejas</h3> -->
            <div class="image-container">
              <img src="../../resources/reflection.webp"/>
            </div>
          </div>
          <div class="card no-outer-pad">
            <!-- <h3 class="contrast-bg">Camp Tejas</h3> -->
            <div class="image-container">
              <img src="../../resources/sun-fog.webp"/>
            </div>
          </div>
          <div class="card no-outer-pad">
            <!-- <h3 class="contrast-bg">Camp Tejas</h3> -->
            <div class="image-container">
              <img src="../../resources/walkway.webp"/>
            </div>
          </div>
          <div class="card no-outer-pad">
            <!-- <h3 class="contrast-bg">Texas</h3> -->
            <div class="image-container">
              <img src="../../resources/ice-top.webp"/>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</body>
</html>