@import "styles/index.scss";

.image-container-root {
  display: flex;
  grid-column: 1 / -1;
  // grid-column: span 5 / auto;
  align-items: flex-start;
  flex-wrap: wrap;

  .image-col {
    display: block;

    @include small-screen-only {
      flex: 100%;
      max-width: 100%;
    }

    @include medium-screen-only {
      flex: 50%;
      max-width: 50%;
    }

    @include large-screen-only {
      flex: 25%;
      max-width: 25%;
    }
  }

  .card {
    display: block;
    min-height: unset;
    background: none;
    margin: 0 $spacing-small $spacing-normal;

    .image-container, .figure, img {
      display: block;
      width: 100%;
    }
  }
}
