<!DOCTYPE html>
<html>

<head>
  {{> partials/shared-metadata }}
  <title>Portfolio</title>
</head>

<body>
  {{> partials/link-bar }}

  <div id="content">
    <!-- <div class="card-block">
      <div class="card title-card">
        <h1 class="page-title">Portfolio</h1>
      </div>
    </div> -->
    <div class="card-block">
      <div class="card title-card">
        <h1 class="white-title">Personal Projects</h1>
      </div>

      <div class="card">
        <h3 class="dark-bg">Skylarcupit.com</h3>
        <div class="card-body vertically-spaced">
          <p>
            My personal/portfolio site written in Mustache, SCSS, and TypeScript.
          </p>
          <table>
            <tr>
              <td>
                <h2 class="github-icon-white"></h2>
              </td>
              <td>
                <a href="https://github.com/scupit/SkylarCupitSite" target="_blank">Check it out on GitHub!</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h3 class="dark-bg">Resume</h3>
        <div class="card-body vertically-spaced">
          <p>
            My resume, written as a single web page.
          </p>
          <table>
            <tr>
              <td>
                <h2 class="github-icon-white"></h2>
              </td>
              <td>
                <a href="https://github.com/scupit/SkylarCupitResume" target="_blank">Check it out on GitHub!</a>
              </td>
            </tr>
            <tr>
              <td>
                <h2 class="hyperlink-icon-white"></h2>
              </td>
              <td>
                <a href="/resume" target="_blank">Or check it out directly</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card card-long">
        <h3 class="dark-bg">C/C++ Project Configuration Tool</h3>
        <div class="card-body vertically-spaced">
          <p>
            <a href="https://github.com/scupit/gcmake-rust">gcmake-rust</a> is my C/C++ project configuration tool written in Rust.
            It acts as an opinionated layer over top of CMake, and aims to make C/C++ project configuration easier, simpler, and
            more intuitive. The README in Github contains better details.
          </p>
          <table>
            <tr>
              <td>
                <h2 class="github-icon-white"></h2>
              </td>
              <td>
                <a href="https://github.com/scupit/gcmake-rust" target="_blank">Check it out on GitHub!</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h3 class="dark-bg">Full-Stack Mobile App</h3>
        <div class="card-body">
          <p>
            Wrote a full-stack mobile app using React Native and TypeScript, and a Kotlin + Spring Boot
            backend with MariaDB. The project isn't public, but I can show it if asked.
          </p>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card title-card">
        <h1 class="white-title">Photo Gallery</h1>
        <h3 class="white-title"><i>Tip: Hover photo for info.</i></h3>
        <h4 class="white-title">All photos were taken with either an iPhone 5c, iPhone 8, or iPhone 11 Pro. They appear as taken, and have not been cropped or edited in any way.</h4>
      </div>

      <div class="image-container-root">
        <div class="image-col">
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/pond.webp" />
                <figcaption>Camp Tejas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/rock.webp" />
                <figcaption>Bell Rock, Arizona</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/ice-top.webp" />
                <figcaption>Round Rock, Texas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/pink-flowers.webp" />
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/sapphire-pool.webp" />
                <figcaption>Yellowstone National Park</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/red-flower.webp" />
              </figure>
            </div>
          </div>
        </div>

        <div class="image-col">
          <div class="card card-tall no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/mushroom.webp" />
                <figcaption>Michigan</figcaption>
              </figure>
            </div>
          </div>
          <div class="card card-tall no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/mountain-flower.webp" />
                <figcaption>Grand Teton National Park</figcaption>
              </figure>
            </div>
          </div>
          <div class="card card-tall no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/tree-ivy.webp" />
                <figcaption>Cedar Park, Texas</figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="image-col">
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/lake-panorama.webp" />
                <!-- <figcaption>Round Rock, Texas</figcaption> -->
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/ice-dark.webp" />
                <figcaption>Round Rock, Texas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card card-tall no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/reflection.webp" />
                <figcaption>Camp Tejas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/ice-yellow-bulb.webp" />
                <figcaption>Round Rock, Texas</figcaption>
              </figure>
            </div>
          </div>

          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/window-sky.webp" />
              </figure>
            </div>
          </div>
        </div>

        <div class="image-col">
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/sun-fog.webp" />
                <figcaption>Camp Tejas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/bell-flower.webp" />
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/double-rainbow.webp" />
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../resources/night-tree.webp" />
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>