@import "common";
@import "mixins";

.card {
  @include slight-shadow;
  @include bg-fade;

  $horizontal-padding: $spacing-lg;

  background-color: var(--card-bg);
  border-radius: $br-md;
  min-height: 150px;
  padding: $spacing-sm $horizontal-padding;
  // display: flex;
  // flex-direction: column;

  &.no-outer-pad {
    padding: 0;
  }

  & > .title:first-child {
    @include bg-fade;
    $horizontal-fix: -$horizontal-padding + $spacing-sm;

    padding: $spacing-sm;
    margin-left: $horizontal-fix;
    margin-right: $horizontal-fix;

    font-size: $fs-4;
    text-align: center;

    color: white;
    background-color: var(--primary);
    // background-color: var(--accent);
    border-radius: $br-sm $br-sm 0 0;
  }

  & > div.flex-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card.flex {
  display: flex;
  flex-direction: column;
}


.card.image-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: $br-md;
  }

  figure {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      transition: transform 0.1s ease-out;
    }

    & > figcaption {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      color: white;
      font-size: $fs-2;
      text-align: center;
      padding: $spacing-sm;

      background-color: rgba(black, 0.5);
      transition: opacity 0.1s ease-out;
      opacity: 0;
    }
  }
}

.card.image-container figure:hover {
  & > figcaption {
    opacity: 1;
  }

  & > img {
    transform: scale(1.1);
  }
}

.card.title {
  background: linear-gradient(
    to right,
    var(--contrast-bg-dark),
    var(--tertiary)
  );

  // grid-column: 1 / -1;
  grid-column: 1 / -1;
  padding: $spacing-lg;
  min-height: unset;

  & > .white-title {
    color: white;
  }

  & > .page-title {
    color: white;
    font-size: 2.5rem;
  }
}