@use "common" as *;

// Must be provided a mask image using <icon-name>-src and a background color
// using bg-<color>.
// For example, <span class="icon bg-white github-src fs-2"></span>
.icon {
  font-size: $fs-3;
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: repeat;
  mask-size: cover;

  // This is annoying, but mask icons now display properly on IOS Safari.
  -webkit-mask-mode: alpha;
  -webkit-mask-position: center;
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: cover;

  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

$icon-src-map: (
  "github": "/assets/icons/github.svg",
  "email": "/assets/icons/email.svg",
  "phone": "/assets/icons/cellphone.svg",
  "hyperlink": "/assets/icons/link-variant.svg"
);

@each $src-name, $src-url in $icon-src-map {
  .#{$src-name}-src {
    mask-image: url($src-url);
    -webkit-mask-image: url($src-url);
  }
}
