@mixin text-icon-mask($url-string, $bg-color: white) {
  mask-image: url($url-string);
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: repeat;
  mask-size: cover;

  // This is annoying, but mask icons now display properly on IOS Safari.
  -webkit-mask-image: url($url-string);
  -webkit-mask-mode: alpha;
  -webkit-mask-position: center;
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: cover;

  background-color: $bg-color;
  display: block;
  width: 1em;
  height: 1em;
}

// Must be provided a mask image using <icon-name>-src and a background color
// using bg-<color>.
// For example, <span class="icon bg-white github-src fs-2"></span>
.icon {
  font-size: $fs-3;
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: repeat;
  mask-size: cover;

  // This is annoying, but mask icons now display properly on IOS Safari.
  -webkit-mask-mode: alpha;
  -webkit-mask-position: center;
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: cover;

  display: block;
  width: 1em;
  height: 1em;
}

$icon-src-map: (
  "github": "/resources/icons/github.svg",
  "email": "/resources/icons/email.svg",
  "phone": "/resources/icons/cellphone.svg",
  "hyperlink": "/resources/icons/link-variant.svg"
);

@each $src-name, $src-url in $icon-src-map {
  .#{$src-name}-src {
    mask-image: url($src-url);
    -webkit-mask-image: url($src-url);
  }
}
