@import "card";
@import "common";

.gallery-root {
  display: flex;
  grid-column: 1 / -1;
  align-items: flex-start;
  flex-wrap: wrap;

  .image-col {
    display: block;
    flex: 1;
    min-width: min(200px, 80vw);
  }

  .card {
    min-height: unset;
    background: none;
    margin: 0 $spacing-sm $spacing-md;
  }
}