@use "card" as *;
@use "common" as *;

.gallery-root {
  grid-column: 1 / -1;
  columns: 4 200px;
  column-gap: $spacing-md;

  .card {
    min-height: unset;
    background: none;
    margin-bottom: $spacing-md;
  }
}