@import "normalize.css";

@import "common";
@import "card";
@import "image-gallery";
@import "palette";
@import "basic-grid";
@import "mixins";
@import "icons";
@import "utils";
@import "fonts";

:root {
  @include primary-font;
  font-size: 18px;
  line-height: 1.2;
}

body {
  @include bg-fade;
  // visibility: hidden;
  background-color: var(--secondary);
  box-sizing: border-box;
  background-size: contain;
}

a {
  @include raised-hover;
  position: relative;
  color: white;
  border-radius: 5px;
  padding: calc($spacing-sm / 2);
}

button {
  // display: none;
  padding: $spacing-sm;
  color: var(--darkest-accent);
  border: 2px solid var(--darkest-accent);
  background-color: var(--secondary);
  border-radius: $spacing-sm;

  transition:
    background-color 1s ease,
    border-color 1s ease
    color 1s ease;

  &:hover {
    transition: none;
    background-color: var(--card-bg);
  }

  &:active {
    color: white;
    background-color: var(--dark-accent);
  }
}

code {
  @include slight-shadow-inset;
  background-color: var(--secondary);
  padding: $spacing-sm;
  // box-shadow: 2px 2px 2px 0 black inset;
  overflow: scroll;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: $fs-1;
}

h2 {
  font-size: $fs-2;
}

h3 {
  font-size: $fs-3;
}

p {
  font-size: $fs-p;
}

p ~ p {
  margin-top: 0;
}

img {
  max-width: 100%;
}

ol, ul {
  padding-left: $spacing-lg;
}

table {
  td {
    display: inline-block;
    padding: $spacing-sm 0;
  }

  a {
    padding: $spacing-sm;
  }

  &.large-links {
    font-size: 1.2rem;
  }
}

video {
  @include slight-shadow;
  display: block;
  margin: auto;
  max-width: min(700px, 100%);
  border-radius: $br-sm;
}

#nav-area {
  @include slight-shadow;

  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  max-width: 100%;
  background: linear-gradient(
    45deg,
    var(--darkest-accent) 0 20%,
    var(--dark-accent) 20% 30%,
    var(--accent) 30% 40%,
    var(--primary) 40% 50%
  );

  min-height: 3rem;
  border-bottom: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  // transition: border-color 1s ease;

  & > div {
    padding: 0 $spacing-lg;
  }

  & > .no-left-pad {
    padding-left: 0;
  }

  #nav-links-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    
    a {
      color: white;
    }
  }

  a {
    font-size: 1.3rem;
    position: relative;
    margin: 0 $spacing-sm;
    text-decoration: none;
    padding: $spacing-sm;
  }

  .site-title {
    @include raised-hover;
    @include secondary-font;
    color: white;
    font-weight: bold;
    font-size: $fs-3;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px var(--accent);
  }
}

.site-nav-image {
  max-height: $fs-3;
  margin-right: $spacing-sm;
}

.subtitle {
  font-size: $fs-4;
  margin: 0;
}

.subtitle + .subtitle {
  font-size: $fs-p;
  margin-top: $spacing-lg;
}

main, #content {
  margin: 0;
  padding: $spacing-lg $spacing-lg * 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-white-link a {
  color: revert;
}

@media screen and (max-width: 480px) {
  #nav-area {
    flex-direction: column;
    padding-bottom: $spacing-sm;

    .site-title {
      padding-bottom: $spacing-md;
    }
  }
}

@media (min-width: $screen-width-large) {
  nav {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  #nav-area > div {
    padding-left: 0;
    padding-right: 0;
  
    .site-title {
      margin-left: -$spacing-sm;
    }
  }

  main, #content {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

@media (max-width: $screen-width-small) or (max-height: $screen-height-small) {
  main, #content {
    padding: $spacing-md;
  }
}

@media (max-width: $screen-width-small) {
  :root {
    font-size: 16px;
  }

  #nav-links-container {
    margin-top: $spacing-sm;
    border-top: 4px double white;
  }
}
