@import "normalize.css";
@import "styles/palette.scss";
@import "styles/basic-grid.scss";
@import "styles/mixins.scss";
@import "styles/sizing.scss";
@import "styles/spacing.scss";

body {
  @include bg-fade;
  // visibility: hidden;
  background-color: var(--secondary);
  box-sizing: border-box;
  background-size: contain;
}

a {
  @include raised-hover;
  position: relative;
  color: white;
  border-radius: 5px;
  padding: calc($spacing-small / 2);
}

button {
  // display: none;
  padding: $spacing-small;
  color: var(--darkest-accent);
  border: 2px solid var(--darkest-accent);
  background-color: var(--secondary);
  border-radius: $spacing-small;

  transition:
    background-color 1s ease,
    border-color 1s ease
    color 1s ease;

  &:hover {
    transition: none;
    background-color: var(--card-bg);
  }

  &:active {
    color: white;
    background-color: var(--dark-accent);
  }
}

code {
  @include slight-shadow-inset;
  background-color: var(--secondary);
  padding: $spacing-small;
  // box-shadow: 2px 2px 2px 0 black inset;
  overflow: scroll;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

ol, ul {
  padding-left: 30px;
}

table {
  td {
    display: inline-block;
    padding: $spacing-small 0;
  }

  a {
    padding: $spacing-small;
  }

  &.large-links {
    font-size: 1.2rem;
  }
}

.image-container-root {
  display: flex;
  grid-column: 1 / -1;
  // grid-column: span 5 / auto;
  align-items: flex-start;
  flex-wrap: wrap;

  .image-col {
    display: block;

    @include small-screen-only {
      flex: 100%;
      max-width: 100%;
    }

    @include medium-screen-only {
      flex: 50%;
      max-width: 50%;
    }

    @include large-screen-only {
      flex: 25%;
      max-width: 25%;
    }
  }

  .card {
    display: block;
    min-height: unset;
    background: none;
    margin: 0 $spacing-small $spacing-normal;

    .image-container, .figure, img {
      display: block;
      width: 100%;
    }
  }
}

#nav-area {
  @include slight-shadow;

  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  max-width: 100%;
  background: linear-gradient(
    45deg,
    var(--darkest-accent) 0 20%,
    var(--dark-accent) 20% 30%,
    var(--accent) 30% 40%,
    var(--primary) 40% 50%
  );

  min-height: 3rem;
  border-bottom: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  // transition: border-color 1s ease;

  & > div {
    padding: 0 $spacing-large;
  }

  & > .no-left-pad {
    padding-left: 0;
  }

  #nav-links-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    
    @include small-screen-only {
      margin-top: $spacing-small;
      border-top: 4px double white;
    }

    a {
      color: white;
    }
  }

  a {
    font-size: 1.3rem;
    position: relative;
    margin: 0 $spacing-small;
    text-decoration: none;
    padding: $spacing-small;
  }

  .site-title {
    @include raised-hover;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    text-shadow: 3px 3px var(--accent);
  }

  @include large-screen-only {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

#content {
  padding: $spacing-large;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include small-screen-only {
    padding: $spacing-normal;
  }

  @include large-screen-only {
    margin: auto 15vw;
  }
}

.no-white-link a {
  color: revert;
}

@media screen and (max-width: 480px) {
  #nav-area {
    flex-direction: column;
    padding-bottom: $spacing-small;

    .site-title {
      padding-bottom: $spacing-normal;
    }
  }
}

@mixin make-icon-classes($icon-file, $icon-name) {
  $icon-color-map: (
    "white": white,
    "black": black,
    "colored": var(--accent)
  );

  @each $color-suffix, $color in $icon-color-map {
    .#{$icon-name}-icon-#{$color-suffix} {
      @include text-icon-mask($icon-file, $color);
    }

    .#{$icon-name}-icon {
      @extend .#{$icon-name}-icon-white;
    }
  }
}

@include make-icon-classes("/resources/github.svg", "github");
@include make-icon-classes("/resources/email.svg", "email");
@include make-icon-classes("/resources/cellphone.svg", "phone");
@include make-icon-classes("/resources/link-variant.svg", "hyperlink");
