@use "common" as *;

@mixin slight-shadow {
  box-shadow: 0 3px 5px -3px lighten(black, 25%);
}

@mixin slight-shadow-inset {
  box-shadow: 3px 3px 3px -2px lighten(black, 40%) inset;
  // box-shadow: 0 0 5px 0 lighten(black, 25%) inset;
}

@mixin bg-fade($duration: 1s, $delay: 0s) {
  transition: background-color $duration ease $delay;
  backface-visibility: hidden;
}

@mixin basic-gradient-bg($color, $darken-amount: 20%) {
  background: linear-gradient(
    to right,
    darken($color, $darken-amount),
    $color
  )
}

@mixin raised-hover {
  $transition-details: 0.12s ease-out;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    transition:
      width $transition-details,
      box-shadow $transition-details;

    background-color: var(--accent);
    border-radius: $spacing-sm;
  }

  &:hover::before {
    @include slight-shadow;
    width: 100%;
  }
}

@keyframes slide-fade-in-anim {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@mixin basic-slide-in($delay-component-num) {
  opacity: 0;
  position: relative;
  animation: slide-fade-in-anim 0.3s ease-in (30ms * $delay-component-num);
  animation-fill-mode: forwards;
}
