@mixin slight-shadow {
  box-shadow: 0 3px 5px -3px lighten(black, 25%);
}

@mixin basic-gradient-bg($color, $darken-amount: 20%) {
  background: linear-gradient(
    to right,
    darken($color, $darken-amount),
    $color
  )
}

@mixin raised-hover {
  transition:
    background-color 0.12s ease-out,
    box-shadow 0.12s ease-out;

  &:hover {
    @include slight-shadow;
    background-color: $contact-box-color;
  }
}

@keyframes fade-in-anim {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@mixin basic-fade-in($delay-component-num) {
  opacity: 0;
  position: relative;
  animation: fade-in-anim 0.3s ease-in (30ms * $delay-component-num);
  animation-fill-mode: forwards;
}

@mixin small-screen-only {
  @media screen and (max-width: 480px) {
    @content;
  }
}
