@mixin define-palette($suffix, $primary-color, $secondary-color, $accent-color) {
  --primary#{$suffix}: #{$primary-color};
  --secondary#{$suffix}: #{$secondary-color};
  --accent#{$suffix}: #{$accent-color};

  --card-bg#{$suffix}: #{lighten($primary-color, 13%)};
  --accent-dark#{$suffix}: #{darken($accent-color, 10%)};
  --accent-darker#{$suffix}: #{darken($accent-color, 20%)};

  $primary-dark: darken($primary-color, 10%);
  --primary-dark#{$suffix}: #{$primary-dark};
  $primary-darker: darken($primary-dark, 10%);
  --primary-darker#{$suffix}: #{$primary-darker};
  --primary-darkest#{$suffix}: #{darken($primary-darker, 10%)};
}

:root {
  @include define-palette("0", #87c0c8, #e9f8ff, #d1d07d);
  @include define-palette("1", #87c887, #e9ffe9, #76e4c5);
  @include define-palette("2", #c88787, #ffe9e9, #be1212);

  $default-before-fade: rgba(0, 0, 0, 0);

  --primary: $default-before-fade;
  --secondary: $default-before-fade;
  --accent: $default-before-fade;

  --card-bg: $default-before-fade;
  --accent-dark: $default-before-fade;
  --accent-darker: $default-before-fade;

  --primary-dark: $default-before-fade;
  --primary-darker: $default-before-fade;
  --primary-darkest: $default-before-fade;
}