// Spacing
  $spacing-large: 20px;
  $spacing-normal: 10px;
  $spacing-small: 5px;


.vertically-spaced {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

$spacing-map: (
  "lg": $spacing-large,
  "md": $spacing-normal,
  "sm": $spacing-small
);

@each $size-name, $size-value in $spacing-map {
  .mt-#{$size-name} {
    margin-top: $size-value;
  }

  .mb-#{$size-name} {
    margin-bottom: $size-value;
  }

  .ml-#{$size-name} {
    margin-left: $size-value;
  }

  .mr-#{$size-name} {
    margin-right: $size-value;
  }

  .pt-#{$size-name} {
    padding-top: $size-value;
  }

  .pb-#{$size-name} {
    padding-bottom: $size-value;
  }

  .pl-#{$size-name} {
    padding-left: $size-value;
  }

  .pr-#{$size-name} {
    padding-right: $size-value;
  }
}
