.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vertically-spaced {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}