.float-r {
  float: right;
}

.float-l {
  float: left;
}

.clear-float {
  clear: both;
}

.huge-vertical-padding {
  $padding-amount: $spacing-lg * 4;
  padding-top: $padding-amount;
  padding-bottom: $padding-amount;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

$size-map: (
  "lg": $spacing-lg,
  "md": $spacing-md,
  "sm": $spacing-sm
);

$position-map: (
  "t": "top",
  "l": "left",
  "r": "right",
  "b": "bottom"
);

@each $spacing-suffix, $spacing-value in $size-map {
  @each $position-suffix, $position-name in $position-map {
    .m#{$position-suffix}-#{$spacing-suffix} {
      margin-#{$position-name}: $spacing-value
    }

    .b#{$position-suffix}-#{$spacing-suffix} {
      border-#{$position-name}: $spacing-value
    }
  }
}

$font-size-map: (
  1: $fs-1,
  2: $fs-2,
  3: $fs-3,
  4: $fs-4,
  "p": $fs-p,
  "sm": $fs-sm
);

@each $fs-name, $fs-value in $font-size-map {
  .fs-#{$fs-name} {
    font-size: $fs-value;
  }
}

$bg-color-map: (
  "white": white,
  "black": black,
  "primary": var(--primary),
  "secondary": var(--secondary),
  "accent": var(--accent)
);

@each $color-name, $color-value in $bg-color-map {
  .bg-#{$color-name} {
    background-color: $color-value;
  }
}
