.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vertically-spaced {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

$size-map: (
  "lg": $spacing-lg,
  "md": $spacing-md,
  "sm": $spacing-sm
);

$position-map: (
  "t": "top",
  "l": "left",
  "r": "right",
  "b": "bottom"
);

@each $spacing-suffix, $spacing-value in $size-map {
  @each $position-suffix, $position-name in $position-map {
    .m#{$position-suffix}-#{$spacing-suffix} {
      margin-#{$position-name}: $spacing-value
    }

    .b#{$position-suffix}-#{$spacing-suffix} {
      border-#{$position-name}: $spacing-value
    }
  }
}