<!DOCTYPE html>
<html>

<head>
  {{> partials/shared-metadata }}
  <title>Things to learn</title>
</head>

<body>
  {{> partials/link-bar }}

  <div id="content" class="card-block">
    <div class="card title-card">
      <h1 class="page-title">Tools list</h1>
    </div>
    <div class="card card-tall">
      <h3>Languages</h3>
      <ul>
        <li>C 👉</li>
        <li>C++ 👉</li>
        <li>TypeScript ✅</li>
        <li>JavaScript ✅</li>
        <li>Python ✅</li>
        <li>Kotlin ✅</li>
        <li>Rust 👉</li>
        <li>Haskell 👉</li>
        <li>Scala 3</li>
        <li>Nim</li>
        <li>Zig</li>
        <li>Swift</li>
        <li>SQL 👉</li>
        <li>GLSL 👉</li>
      </ul>
    </div>
    <div class="card">
      <h3>Modified Languages</h3>
      <ul>
        <li>Circle C++</li>
        <li>cython</li>
      </ul>
    </div>
    <div class="card">
      <h3>Web Markup</h3>
      <ul>
        <li>HTML ✅</li>
        <li>CSS ✅</li>
        <li>SCSS ✅</li>
        <li>SVG</li>
        <li>Mustache</li>
      </ul>
    </div>
    <div class="card">
      <h3>C/C++ Compilers</h3>
      <ul>
        <li>GCC (+ MinGW-w64) 👉</li>
        <li>Clang 👉</li>
        <li>MSVC 👉</li>
      </ul>
    </div>

    <div class="card card-long">
      <h3>Build tools</h3>
      <ul>
        <li>Gradle 👉</li>
        <li>Ninja ✅</li>
        <li>NPM 👉</li>
        <li>Yarn</li>
        <li>Webpack 👉</li>
        <li>CMake (until I can auto generate it) 👉</li>
        <li>Docker (+ file and compose) 👉</li>
      </ul>
    </div>

    <div class="card">
      <h3>Misc. Configurables</h3>
      <ul>
        <li>Regex ✅</li>
        <li>Latex (lualatex + xelatex)</li>
        <li>Jupyter Notebook</li>
        <li>Web Assembly</li>
        <li>Progressive Web Apps</li>
        <li>Web Workers</li>
      </ul>
    </div>

    <div class="card card-tall">
      <h3>Frameworks and Libraries</h3>
      <ul>
        <li>React ✅</li>
        <li>React Native ✅</li>
        <li>Angular 👉</li>
        <li>Vue 👉</li>
        <li>Svelte</li>
        <li>OpenGL 👉</li>
        <li>Spring Boot 👉</li>
        <li>Jetpack Compose</li>
        <li>SDL</li>
        <li>SFML 👉</li>
        <li>WxWidgets (and WxPython)</li>
        <li>Tkinter python</li>
        <li>ImGUI (and DearPyGui)</li>
        <li>WebGL (probably through ThreeJS)</li>
        <li>NCurses</li>
        <li>zlib</li>
        <li>GLFW 👉</li>
        <li>GLM 👉</li>
      </ul>
    </div>

    <div class="card">
      <h3>Data Formats</h3>
      <ul>
        <li>Yaml ✅</li>
        <li>TOML</li>
        <li>JSON ✅</li>
        <li>XML (basics) 👉</li>
        <li>Conf</li>
      </ul>
    </div>

    <div class="card">
      <h3>Runtimes</h3>
      <ul>
        <li>NodeJS ✅</li>
        <li>Deno JS 👉</li>
        <li>OpenJDK ✅</li>
      </ul>
    </div>

    <div class="card card-tall">
      <h3>GUI Software</h3>
      <ul>
        <li>Android Studio</li>
        <li>XCode</li>
        <li>Visual Studio Code ✅</li>
        <li>Vim ✅</li>
        <li>Blender</li>
        <li>Photoshop</li>
        <li>Premiere (or good video editing)</li>
        <li>InkScape</li>
        <li>ProCreate</li>
        <li>Unreal Engine</li>
        <li>Godot Engine</li>
        <li>FileZilla</li>
        <li>Postman</li>
      </ul>
    </div>

    <div class="card">
      <h3>Command Line Tools</h3>
      <ul>
        <li>cURL</li>
        <li>wget</li>
        <li>Git ✅</li>
        <li>SSH 👉</li>
        <li>SFTP 👉</li>
        <li>RSync 👉</li>
        <li>robocopy</li>
        <li>pandoc 👉</li>
        <li>7Zip</li>
      </ul>
    </div>
    <div class="card">
      <h3>Shells</h3>
      <ul>
        <li>Bash 👉</li>
        <li>Powershell 👉</li>
        <li>ZSH</li>
      </ul>
    </div>
    
    <div class="card">
      <h3>Web Tools</h3>
      <ul>
        <li>GitHub (remote Git repos) ✅</li>
        <li>Docker Hub (remote registries)</li>
        <li>Jenkins</li>
      </ul>
    </div>

    
    <div class="card">
      <h3>Non-GUI Software</h3>
      <ul>
        <li>Apache 2 (web server) 👉</li>
        <li>CUPS (print server/protocol) 👉</li>
        <li>Samba (SMB file sharing) 👉</li>
      </ul>
    </div>
    <div class="card">
      <h3>Misc. others</h3>
      <ul>
        <li>NFC touch</li>
        <li>My own site (Skylarcupit.com)</li>
      </ul>
    </div>
  </div>
</body>

</html>