@import "index";

.card-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  .card {
    color: $text-light;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    // background-color: lightcyan;
    background-color: rgba($bg-dark, 0.4);
    border: 2px solid grey;

    h2 {
      text-decoration: underline;
    }
  }

  .title-card {
    grid-column: 1 / -1;
    background-color: rgba($bg-light, 0.4);

    .page-title {
      color: $text-light;
    }
  }

  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-long {
    grid-column: span 2 / auto;
  }

}