<nav id="nav-area">
  <div>
    <a class="site-title" href="/">Skylar Cupit</a>
  </div>

  <div id="nav-links-container">
    <a href="/">Home</a>
    <a href="/to-learn">Programming tools</a>
    <a href="/resume" target="_blank">Resume</a>
  </div>
  <div></div>
</nav>