<nav id="nav-area">
  <div class="no-left-pad">
    <!-- <a class="site-title" href="/">Skylar Cupit</a> -->
    <a class="site-title" href="/">
      <img class="site-nav-image" src="/resources/SkyLogo.svg" />
      S.C.
    </a>
  </div>

  <div id="nav-links-container">
    <a href="/">Home</a>
    <a href="/to-learn">Knowledge Base</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/resume" target="_blank">Resume</a>
  </div>
  <div>
    <button id="site-options">Toggle Theme</button>
  </div>
</nav>