<nav id="main-navbar">
    <!-- <a class="site-title" href="/">Skylar Cupit</a> -->
    <a class="site-title" href="/">
      {{!-- <img class="site-nav-image" src="assets/SkyLogo.svg" /> --}}
      <img class="site-nav-image" src="../../assets/SkyLogo.svg" />
      S.C.
    </a>

  <div id="nav-links-container">
    <a href="/">Home</a>
    <a href="/knowledge-base">Knowledge Base</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/resume" target="_blank">Resume</a>
  </div>
  <div>
    <button id="site-options">Switch Theme</button>
  </div>
</nav>