@import "styles/index.scss";
@import "styles/palette.scss";
@import "styles/mixins.scss";
@import "styles/spacing.scss";

#content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  td {
    padding: $spacing-small 0;
  }

  a {
    font-size: 1.2rem;
    padding: $spacing-small;
  }
}
