@import "normalize.css";

$text-light: white;
$text-dark: black;
$bg-dark: #181a1b;
$bg-light: white;

body {
  box-sizing: border-box;
  min-height: 100vh;
  // background: linear-gradient(200deg, rgba(0, 225, 255, 0.8), rgba(0, 0, 0, 0.5) 70%),
  //             linear-gradient(to right, rgba(0,255,0,.8), rgba(0, 0, 0, 0.5) 70%),
  //             linear-gradient(300deg, rgba(0,0,255,.8), black 70%);
  background: linear-gradient(200deg, rgba(0, 225, 255, 0.8), rgba(red, 0.2)),
              linear-gradient(100deg, rgba(0, 255, 0, 1), rgba(black, 0.7)),
              linear-gradient(300deg, rgba(0,0,255,.8), rgba(black, 0.3));
  background-size: contain;
}

#nav-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
  background-color: $bg-dark;

  min-height: 3rem;
  border-bottom: 2px solid grey;

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: $text-light;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.2s ease;
  }

  a:hover {
    box-shadow: 0 5px 10px -5px black;
  }

  .site-title {
    color: #72ff72;
  }
}

#content {
  padding: 10px;
}