@import "normalize.css";
@import "styles/palette.scss";
@import "styles/basic-grid.scss";
@import "styles/spacing.scss";

body {
  @include basic-gradient-bg($bg-secondary);
  box-sizing: border-box;
  background-size: contain;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}

#nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
  background: linear-gradient(
    45deg,
    $darkest-accent 0 20%,
    $dark-accent 20% 30%,
    $accent 30% 40%,
    $primary 40% 50%
  );

  min-height: 3rem;
  border-bottom: 2px solid grey;

  a {
    color: white;
    position: relative;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    margin: 0 $spacing-small;
    // background-color: $contact-box-color;
    background-color: $darkest-accent;

    &:hover {
      background-color: darken($contact-box-color, 20%);
    }
  }

  .site-title {
    color: white;
    background-color: unset;
    font-weight: bold;
    font-size: 1.7rem;
  }
}

#nav-links-container {
  background-color: $dark-accent;
  border-radius: 10px;
}

#content {
  padding: $spacing-normal;
}

@media screen and (min-width: 1000px) {
  #nav-area {
    flex-direction: row;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 30pt;
  }

  #nav-area {
    flex-direction: column;
  }
}
