<!DOCTYPE html>
<html>

<head>
  {{> shared-metadata }}
  <title>Portfolio</title>
</head>

<body>
  {{> main-navbar }}

  <main id="content">
    <div class="card title">
      <h1 class="white-title">Personal Projects</h1>
    </div>

    <div class="card mt-lg mb-lg">
      <h2 class="title">GCMake: C/C++ Project Configuration Tool</h2>
      <p>
        <a href="https://github.com/scupit/gcmake-rust">gcmake-rust</a> is my C/C++ project configuration tool
        written in Rust.
        It acts as an opinionated layer over top of CMake, and aims to make C/C++ project configuration simpler and
        much more intuitive.
      </p>

      <b>Some of its features include:</b>
      <ul class="no-white-link">
        <li><a
             href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cmake_data_config/properties/features.md">Cargo-like
            "features"</a></li>
        <li><a
             href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cmake_data_config/properties/prebuild_config.md#generated_code">configurable
            pre-build scripts</a></li>
        <li>Doxygen and Sphinx <a
             href="https://github.com/scupit/gcmake-rust/blob/develop/docs/documenting_your_project.md">documentation
            generator integration</a></li>
        <li><a
             href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cmake_data_config/linking.md#conditional-dependencies">conditional
            dependencies</a></li>
        <li>Readable <a
             href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cmake_data_config/data_formats.md">constraint
            expressions</a> (much less painful than <a
             href="https://cmake.org/cmake/help/latest/manual/cmake-generator-expressions.7.html">CMake generator
            expressions</a>)</li>
        <li>Full project, subproject, and test project generation</li>
        <li>In-tree code file generation</li>
        <li>Out of the box support for<a
             href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cppfront_integration.md">Herb Sutter's
            <b>cppfront</b></a></li>
      </ul>

      <p>See <a href="https://github.com/scupit/gcmake-rust">the README</a> for more information.</p>
      <video src="../../../assets/gcmake-example.webm" muted autoplay loop></video>

      <table class="clear-float">
        <tr>
          <td>
            <span class="icon bg-white github-src"></span>
          </td>
          <td>
            <a href="https://github.com/scupit/gcmake-rust" target="_blank">Check it out on GitHub!</a>
          </td>
        </tr>
      </table>
    </div>

    <div class="grid-basic">
      <div class="card flex">
        <h3 class="title">Skylarcupit.com</h3>
        <div class="flex-body">
          <p>
            My personal/portfolio site written in Handlebars, SCSS, and TypeScript.
          </p>
          <table>
            <tr>
              <td>
                <span class="icon bg-white github-src"></span>
              </td>
              <td>
                <a href="https://github.com/scupit/SkylarCupitSite" target="_blank">Check it out on GitHub!</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card flex">
        <h3 class="title">Resume</h3>
        <div class="flex-body">
          <p>
            My resume, written as a single web page.
          </p>
          <table>
            <tr>
              <td>
                <h2 class="icon bg-white github-src"></h2>
              </td>
              <td>
                <a href="https://github.com/scupit/SkylarCupitResume" target="_blank">Check it out on GitHub!</a>
              </td>
            </tr>
            <tr>
              <td>
                <h2 class="icon bg-white hyperlink-src"></h2>
              </td>
              <td>
                <a href="/resume" target="_blank">Or check it out directly</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h3 class="title">Full-Stack Mobile App</h3>
        <div class="card-body">
          <p>
            Wrote a full-stack mobile app using React Native and TypeScript, and a Kotlin + Spring Boot
            backend with MariaDB containerized using Docker. The project isn't public, but <i>I can show it if
              asked</i>.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-basic">
      <div class="card title">
        <h2 class="white-title">Photo Gallery</h2>
        <p class="white-title subtitle"><i>Tip: Hover photo for info.</i></p>
        <p class="white-title subtitle">All photos were taken with either an iPhone 5c, iPhone 8, or iPhone 11 Pro. They
          appear
          as taken, and have not been cropped or edited in any way.</p>
      </div>

      <div class="gallery-root">
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/pond.webp" />
            <figcaption>Camp Tejas</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/rock.webp" />
            <figcaption>Bell Rock, Arizona</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/ice-top.webp" />
            <figcaption>Round Rock, Texas</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/pink-flowers.webp" />
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/sapphire-pool.webp" />
            <figcaption>Yellowstone National Park</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/red-flower.webp" />
          </figure>
        </div>

        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/mushroom.webp" />
            <figcaption>Michigan</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/mountain-flower.webp" />
            <figcaption>Grand Teton National Park</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/tree-ivy.webp" />
            <figcaption>Cedar Park, Texas</figcaption>
          </figure>
        </div>

        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/lake-panorama.webp" />
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/ice-dark.webp" />
            <figcaption>Round Rock, Texas</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/reflection.webp" />
            <figcaption>Camp Tejas</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/ice-yellow-bulb.webp" />
            <figcaption>Round Rock, Texas</figcaption>
          </figure>
        </div>

        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/window-sky.webp" />
          </figure>
        </div>

        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/sun-fog.webp" />
            <figcaption>Camp Tejas</figcaption>
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/bell-flower.webp" />
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/double-rainbow.webp" />
          </figure>
        </div>
        <div class="card image-container no-outer-pad">
          <figure>
            <img src="../../../assets/gallery-photos/night-tree.webp" />
          </figure>
        </div>
      </div>

    </div>
  </main>
</body>

</html>