<!DOCTYPE html>
<html>

<head>
  {{> partials/shared-metadata }}
  <title>Portfolio</title>
</head>

<body>
  {{> partials/link-bar }}

  <div id="content">
    <!-- <div class="card-block">
      <div class="card title-card">
        <h1 class="page-title">Portfolio</h1>
      </div>
    </div> -->
    <div class="card-block">
      <div class="card title-card">
        <h1 class="white-title">Personal Projects</h1>
      </div>

      <div class="card card-long card-tall">
        <h3 class="dark-bg">C/C++ Project Configuration Tool</h3>
        <div class="card-body vertically-spaced">
          <p>
            <a href="https://github.com/scupit/gcmake-rust">gcmake-rust</a> is my C/C++ project configuration tool
            written in Rust.
            It acts as an opinionated layer over top of CMake, and aims to make C/C++ project configuration simpler and
            much more intuitive.

          <h4>Some of its features include:</h4>
          <ul class="no-white-link">

            <li><a
                href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cmake_data_config/properties/features.md">Cargo-like
                "features"</a></li>
            <li><a
                href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cmake_data_config/properties/prebuild_config.md#generated_code">configurable
                pre-build scripts</a></li>
            <li>Doxygen and Sphinx <a
                href="https://github.com/scupit/gcmake-rust/blob/develop/docs/documenting_your_project.md">documentation
                generator integration</a></li>
            <li><a
                href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cmake_data_config/linking.md#conditional-dependencies">conditional
                dependencies</a></li>
            <li>Readable <a
                href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cmake_data_config/data_formats.md">constraint
                expressions</a> (much less painful than <a
                href="https://cmake.org/cmake/help/latest/manual/cmake-generator-expressions.7.html">CMake generator
                expressions</a>)</li>
            <li>Full project, subproject, and test project generation</li>
            <li>In-tree code file generation</li>
            <li>Out of the box support for<a
                href="https://github.com/scupit/gcmake-rust/blob/develop/docs/cppfront_integration.md">Herb Sutter's
                <b>cppfront</b></a></li>
          </ul>

          <p>See <a href="https://github.com/scupit/gcmake-rust">the README</a> for more information.</p>
          <img src="/resources/gcmake-example.gif" />

          <!-- <br /><br /> -->
          <!-- <code>gcmake-rust new root-project 'my-project'</code> -->
          </p>
          <table>
            <tr>
              <td>
                <h2 class="github-icon-white"></h2>
              </td>
              <td>
                <a href="https://github.com/scupit/gcmake-rust" target="_blank">Check it out on GitHub!</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h3 class="dark-bg">Skylarcupit.com</h3>
        <div class="card-body vertically-spaced">
          <p>
            My personal/portfolio site written in Mustache, SCSS, and TypeScript.
          </p>
          <table>
            <tr>
              <td>
                <h2 class="github-icon-white"></h2>
              </td>
              <td>
                <a href="https://github.com/scupit/SkylarCupitSite" target="_blank">Check it out on GitHub!</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h3 class="dark-bg">Resume</h3>
        <div class="card-body vertically-spaced">
          <p>
            My resume, written as a single web page.
          </p>
          <table>
            <tr>
              <td>
                <h2 class="github-icon-white"></h2>
              </td>
              <td>
                <a href="https://github.com/scupit/SkylarCupitResume" target="_blank">Check it out on GitHub!</a>
              </td>
            </tr>
            <tr>
              <td>
                <h2 class="hyperlink-icon-white"></h2>
              </td>
              <td>
                <a href="/resume" target="_blank">Or check it out directly</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <h3 class="dark-bg">Full-Stack Mobile App</h3>
        <div class="card-body">
          <p>
            Wrote a full-stack mobile app using React Native and TypeScript, and a Kotlin + Spring Boot
            backend with MariaDB containerized using Docker. The project isn't public, but <i>I can show it if
              asked</i>.
          </p>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card title-card">
        <h1 class="white-title">Photo Gallery</h1>
        <h3 class="white-title"><i>Tip: Hover photo for info.</i></h3>
        <h4 class="white-title">All photos were taken with either an iPhone 5c, iPhone 8, or iPhone 11 Pro. They appear
          as taken, and have not been cropped or edited in any way.</h4>
      </div>

      <div class="image-container-root">
        <div class="image-col">
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/pond.webp" />
                <figcaption>Camp Tejas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/rock.webp" loading="lazy" />
                <figcaption>Bell Rock, Arizona</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/ice-top.webp" loading="lazy" />
                <figcaption>Round Rock, Texas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/pink-flowers.webp" loading="lazy" />
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/sapphire-pool.webp" loading="lazy" />
                <figcaption>Yellowstone National Park</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/red-flower.webp" loading="lazy" />
              </figure>
            </div>
          </div>
        </div>

        <div class="image-col">
          <div class="card card-tall no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/mushroom.webp" />
                <figcaption>Michigan</figcaption>
              </figure>
            </div>
          </div>
          <div class="card card-tall no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/mountain-flower.webp" loading="lazy" />
                <figcaption>Grand Teton National Park</figcaption>
              </figure>
            </div>
          </div>
          <div class="card card-tall no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/tree-ivy.webp" loading="lazy" />
                <figcaption>Cedar Park, Texas</figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="image-col">
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/lake-panorama.webp" />
                <!-- <figcaption>Round Rock, Texas</figcaption> -->
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/ice-dark.webp" loading="lazy" />
                <figcaption>Round Rock, Texas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card card-tall no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/reflection.webp" loading="lazy" />
                <figcaption>Camp Tejas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/ice-yellow-bulb.webp" loading="lazy" />
                <figcaption>Round Rock, Texas</figcaption>
              </figure>
            </div>
          </div>

          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/window-sky.webp" loading="lazy" />
              </figure>
            </div>
          </div>
        </div>

        <div class="image-col">
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/sun-fog.webp" />
                <figcaption>Camp Tejas</figcaption>
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/bell-flower.webp" loading="lazy" />
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/double-rainbow.webp" loading="lazy" />
              </figure>
            </div>
          </div>
          <div class="card no-outer-pad">
            <div class="image-container">
              <figure>
                <img src="../../../resources/night-tree.webp" loading="lazy" />
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>